body{
    display: flex;
    justify-content: center;
    align-items: center;
}


.calculator{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(64, 173, 236);
    border-radius: 10px;
    width: 200px;
    justify-content: center;
    padding: 5px;
    border: solid;
}

.display{
    display: flex;
    align-items: center;
    padding: 5px;
    width: 95%;
    height: 40px;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 150%;
}

.allButtons{
    display: flex;
    margin-bottom: 10px;
}

button{
    width: 40px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    padding: 0;
    margin: 0;
}

.numbers{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
}

.ops{
    width: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

